@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


.fixedBg {
  top: 0;
  position: absolute;
  background: url("/05.jpg") top center/cover no-repeat;
  background: url("/96.jfif") top center/cover no-repeat;
  background: url("/cyber.png") center center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 115vh;
  opacity: 0.5;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgb(0, 0, 0);
}
.contentimg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
  height: calc(100vh - 77px);
  opacity: 0.3;
  white-space: nowrap;
  font-size: 21rem;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  line-height: 420px;
  color: rgb(255 255 255 / 35%);
  text-shadow: -8px 8px 10px #000000;
  z-index: -1;
}

.containerbg2 {
  position: relative;
}

.bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/78.jpg') center center/cover no-repeat fixed;
  background: url('/rgb.png') center center/cover no-repeat fixed;
  background: url('/neon.png') center center/cover no-repeat fixed;
  opacity: 0.3;
  z-index: -1;
  filter: brightness(20%) saturate(150%) ;
}